.projects {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: "100%";
    flex-direction: column;
}

.details {
    flex-direction: "row";
}

.detail {
    width: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.text {
    position: absolute;
}