.primary, .secondary {
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 15px;
    border: none;
    background-color: #171717;
    cursor: pointer;
}

.primary {
    background-color: #FAA4BD;
}

.secondary:hover {
    background-color: #2e2e2e;
}
