@import "tailwindcss";

:root {
  background-color: #242424;
}

@theme {
  --font-monserrat: Montserrat;
  --color-primary: #FAA4BD;
  --color-primary-tint: #fcbfd1;
  --color-secondary: #2e2e2e;
  --color-secondary-tint: #b2b9c6;
  --color-midnight: #171717;
}

@media screen and (max-width: 900px) {
    .container {
      flex-direction: column-reverse !important;
      gap: 20px !important;
    }
  }
