html {
    background-color: black;
}

@media screen and (max-width: 900px) {
    #card-container {
      flex-direction: column-reverse !important;
    }
    img.photo {
        width: 200 !important;
    }
  }

